/Vision_system/build/
/Java_Code/ShipProject/ShipSystem/nbproject/private/
/Java_Code/ShipProject/GUISystem/nbproject/private/
/Vision_system/dist/
*.log
/Java_Code/ShipProject/Controller_TEST/nbproject/private/
/Java_Code/ShipProject/ShipSystem/build/
/Java_Code/ShipProject/ShipSystem/dist/
/Java_Code/ShipProject/GUISystem/build/
/Java_Code/ShipProject/GUISystem/dist/
/Gource/*
/.idea/*
/Java_Code/ShipProject/GUISystemRobin/build/
/Java_Code/ShipProject/GUISystemRobin/nbproject/private/
/Java_Code/ShipProject/GUISystemnot this/build/
/Java_Code/ShipProject/GUISystemnot this/nbproject/private/